{% extends 'shop/basic.html' %}

{% block title %}About Us {% endblock %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">FashionGrove</h1>
      <p>Welcome to FashionGrove - Where Style Meets Elegance
<br>
        <br>
At FashionGrove, we believe that fashion is an art form that empowers individuals to express their unique personalities.
        Our online fashion destination is more than just a marketplace; it's a vibrant community that celebrates diversity, creativity, and the beauty of self-expression. Whether you're a trendsetter, a classic enthusiast, or
        someone exploring their style journey, FashionGrove is your go-to destination for all things chic and fabulous.</p>
      
    </div>
  </div>


</main>

{% endblock %}